@font-face {
  font-family: var(--ff-primary);
  src: url(../../assets/fonts/LeagueSpartan-Black.ttf) format("ttf");
  src: url(../../assets/fonts/LeagueSpartan-Bold.ttf) format("ttf");
  src: url(../../assets/fonts/LeagueSpartan-ExtraBold.ttf) format("ttf");
  src: url(../../assets/fonts/LeagueSpartan-ExtraLight.ttf) format("ttf");
  src: url(../../assets/fonts/LeagueSpartan-Light.ttf) format("ttf");
  src: url(../../assets/fonts/LeagueSpartan-Medium.ttf) format("ttf");
  src: url(../../assets/fonts/LeagueSpartan-Regular.ttf) format("ttf");
  src: url(../../assets/fonts/LeagueSpartan-SemiBold.ttf) format("ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 100%;
  font-family: var(--ff-primary);
}
a,
a:visited {
  text-decoration: none;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
