// @font-face {
//   font-family: var(--ff-primary);
//   src: url(../../assets/fonts/LeagueSpartan-Black.ttf) format("ttf");
//   src: url(../../assets/fonts/LeagueSpartan-Bold.ttf) format("ttf");
//   src: url(../../assets/fonts/LeagueSpartan-ExtraBold.ttf) format("ttf");
//   src: url(../../assets/fonts/LeagueSpartan-ExtraLight.ttf) format("ttf");
//   src: url(../../assets/fonts/LeagueSpartan-Light.ttf) format("ttf");
//   src: url(../../assets/fonts/LeagueSpartan-Medium.ttf) format("ttf");
//   src: url(../../assets/fonts/LeagueSpartan-Regular.ttf) format("ttf");
//   src: url(../../assets/fonts/LeagueSpartan-SemiBold.ttf) format("ttf");
// }
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s;
}
html,
body {
  font-size: 100%;
  font-family: var(--ff-primary);
  min-height: 100vh;
  background-color: var(--main-dark-desaturated-blue);
}
a,
a:visited {
  text-decoration: none;
}
img {
  width: 100%;
}
ul {
  list-style: none;
}
.app {
  gap: 20px;
}
input[type="text"] {
  outline: none;
  border: none;
  padding: 10px 20px;
  width: 100%;
  font-size: 30px;
}
