:root {
  --ff-primary: "League Spartan", sans-serif;
}
$theme_1: (
  // Backgrounds
  // (main background)
  "main-dark-desaturated-blue": hsl(222, 26%, 31%),
  // (toggle background, keypad background)
  "toggle-dark-desaturated-blue": hsl(223, 31%, 20%),
  // (screen background)
  "screen-dark-desaturated-blue": hsl(224, 36%, 15%),
  // Keys
  // (key background)
  "bg-dark-blue": hsl(225, 21%, 49%),
  // (key shadow)
  "shadow-dark-blue": hsl(224, 28%, 35%),
  // (key background, toggle)
  "Red": hsl(6, 63%, 50%),
  // (key shadow)
  "Dark-red": hsl(6, 70%, 34%),
  // (key background)
  "Light-grayish-orange": hsl(30, 25%, 89%),
  // (key shadow)
  "Grayish-orange": hsl(28, 16%, 65%),
  // Text
  "Very-dark-grayish-blue": hsl(221, 14%, 31%),
  "White": hsl(0, 0, 100%)
);
$theme_2: (
  // Backgrounds
  // (main background)
  "Light-gray": hsl(0, 0%, 90%),
  // (toggle background, keypad background)
  " Grayish-red": hsl(0, 5%, 81%),
  // (screen background)
  "Very-light-gray": hsl(0, 0%, 93%),
  //  Keys
  // (key background)
  "Dark-moderate-cyan": hsl(185, 42%, 37%),
  // (key shadow)
  "Very-dark-cyan": hsl(185, 58%, 25%),
  // (key background, toggle)
  "Orange": hsl(25, 98%, 40%),
  // (key shadow)
  "Dark-orange": hsl(25, 99%, 27%),
  // (key background)
  "Light-grayish-yellow": hsl(45, 7%, 89%),
  // (key shadow)
  "Dark-grayish-orange": hsl(35, 11%, 61%),
  // Text
  "Very-dark-grayish-yellow": hsl(60, 10%, 19%),
  // (text)
  "White": hsl(0, 0, 100%)
);
$theme_3: (
  //Backgrounds
  // (main background)
  "Very-dark-violet": hsl(268, 75%, 9%),
  // (toggle background, keypad background, screen background)
  "toggle-dark-violet": hsl(268, 71%, 12%),
  // Keys
  // (key background)
  "Dark-violet": hsl(281, 89%, 26%),
  // (key shadow)
  "Vivid-magenta": hsl(285, 91%, 52%),
  // (key background, toggle)
  "Pure-cyan": hsl(176, 100%, 44%),
  // (key shadow)
  "Soft-cyan": hsl(177, 92%, 70%),
  // (key background)
  "bg-dark-violet": hsl(268, 47%, 21%),
  // (key shadow)
  "Dark-magenta": hsl(290, 70%, 36%),
  //  Text
  "Light-yellow": hsl(52, 100%, 62%),
  "Very-dark-blue": hsl(198, 20%, 13%),
  // (text)
  "White": hsl(0, 0, 100%)
);
