.result {
  input {
    width: 100%;
    padding: 40px 35px;
    font-size: 3em;
    background-color: var(--screen-dark-desaturated-blue);
    font-weight: 700;
    color: var(--white);
    border-radius: 10px;
  }
}
