.header {
  // width: 500px;
  color: var(--white);
  font-weight: 700;
  .name {
    h3 {
      font-size: 2.5em;
    }
  }
  .toggle {
    text-transform: uppercase;
    & > span {
      letter-spacing: 2px;
      font-size: 0.8em;
      margin-right: 30px;
    }
    .input-toggle {
      transform: translateY(-20%);
      width: 70px;
      section{
        padding: 0 5px;
      }
      input[type="range"] {
        height: 25px;
        -webkit-appearance: none;
        margin: 10px 0;
        width: 100%;
        border: none;
        outline: none;
        background-color: var(--toggle-dark-desaturated-blue);
        border-radius: 50px;
        padding: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      input[type="range"]::-webkit-slider-thumb {
        box-shadow: 1px 1px 1px #000000;
        border: 1px solid #000000;
        height: 30px;
        width: 15px;
        border-radius: 5px;
        background: #ffffff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -11px;
      }
      input[type="range"]:focus::-webkit-slider-runnable-track {
        background: #3071a9;
      }
      input[type="range"]::-moz-range-thumb {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: var(--Red);
        border: none;
        cursor: pointer;
      }
    }
  }
}
